// Import all of Bootstrap’s CSS
@import "../../node_modules/bootstrap/scss/bootstrap";

.user-select {
    cursor: pointer;
}

.backdrop-blur {
    backdrop-filter: blur(2px);
}

.shadow-sm {
    transition: box-shadow 0.2s ease;
}

html {
  scroll-behavior: smooth;
}